.App {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  button {
    background-color: blue;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    margin-left: 650px;
    color: rgb(54, 7, 194);
  }

  h1 {
      color: rgb(54, 7, 194);
      text-align: center;
  }